@import "Shared.scss";

.App {
  display: block;
}

.AppTheme__element--blueBorder {
  border: $babas_blue 2px solid;
  border-radius: 0;
}

.AppTheme__element--blueBorder:focus {
  outline: none;
}

.AppTheme__largeButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: LuloCleanOneBold, sans-serif;
  color: $light_text;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.AppTheme__largeButton--blue {
  background: $babas_blue;
  font-size: 20px;
}

.AppTheme__largeButton--orange {
  background: $babas_orange;
  font-size: 14px;
}

.AppTheme__largeButton:hover {
  text-decoration: none;
}

.AppTheme__largeButton:focus {
  outline: none;
}

.AppTheme__largeButton:disabled,
.AppTheme__largeButton:active {
  background: #e0e0e0;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
}

.AppTheme__button--smallOrange {
  background: $babas_orange;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0;
  border-radius: 10px;
  font-family: LuloCleanOneBold, sans-serif;
  font-size: 18px;
  color: $light_text;
  text-decoration: none;
}

.AppTheme__button--smallOrange:hover {
  text-decoration: none;
}

.AppTheme__button--smallOrange:focus {
  outline: none;
}

.AppTheme__button--smallOrange:active {
  background: #e0e0e0;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
}

.App__modalMessage {
  font-family: LuloCleanOneBold, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}