@import "Shared.scss";

.InputWithButton {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;
}

.InputWithButton__input {
  flex: 1;
  padding: 10px 5px 10px 0;
  font-family: LuloCleanOne, sans-serif;
  font-size: 16px;
  color: #000000;
  border: 0;
  outline: none;
}

.InputWithButton__button {
  display: block;
  padding: 8px;
}
