/*
BEM = block, element, modifier
examples:
  myBlock
  myBlock__myElement
  myBlock__anotherElement
  myBlock__anotherElement--large
  myBlock__anotherElement--green
 */

@font-face {
  font-family: LuloCleanOneBold;
  src: url('./font/Lulo_Clean_One_Bold.otf');
}

@font-face {
  font-family: LuloCleanOne;
  src: url('./font/Lulo_Clean_One.otf');
}

.App {
  display: block;
}

.App__babasLogo {
  width: 100%;
}

.AppTheme__button--blue {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: LuloCleanOneBold, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #24bab5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.AppTheme__button--blue:hover {
  text-decoration: none;
}

.AppTheme__button--blue:focus {
  outline: none;
}

.AppTheme__button--blue:active {
  background: #e0e0e0;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
}

.AppTheme__element--blueBorder {
  border: #22BBB4 2px solid;
  border-radius: 0;
}

.AppTheme__element--blueBorder:focus {
  outline: none;
}

.AppTheme__button--smallOrange {
  background: #FBAF5F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0;
  border-radius: 10px;
  font-family: LuloCleanOneBold, sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.AppTheme__button--smallOrange:hover {
  text-decoration: none;
}

.AppTheme__button--smallOrange:focus {
  outline: none;
}

.AppTheme__button--smallOrange:active {
  background: #e0e0e0;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
}

.App__errorMessage {
  font-family: LuloCleanOneBold, sans-serif;
  font-size: 16px;
}