.InputWithButton {
  display: block;
}

.InputWithButton-Input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;

  background-color: #FFFFFF;
  border: #22BBB4 2px solid;
  border-radius: 0;
  font-family: LuloCleanOne, sans-serif;
  font-size: 16px;
  color: #000000;
}

.InputWithButton-Button {
  position: relative;
  display: block;
  /* this is a hack; would prefer a solution that vertical-centers the button on the input */
  top: -54px;
  right: 14px;
  margin-left: auto;
  padding: 8px;

  background: #FBAF5F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 0;
  border-radius: 10px;
  font-family: LuloCleanOneBold, sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.InputWithButton-Button:hover {
  text-decoration: none;
}