@font-face {
  font-family: LuloCleanOneBold;
  src: url('./font/Lulo_Clean_One_Bold.otf');
}

@font-face {
  font-family: LuloCleanOne;
  src: url('./font/Lulo_Clean_One.otf');
}

.Page {
  width: 90%;
  padding-left:5%;
  padding-right:5%;
}

.Page-Header-1 {
  font-family: LuloCleanOneBold, sans-serif;
  color: #24bab5;
}

.Page-normal-text {
  font-family: LuloCleanOne, sans-serif;
  font-size: 12px;
}

.Page-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.Page-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Page-evergreen-button {
  position: fixed;
  width: 90%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.Page-large-next-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: LuloCleanOneBold, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #24bab5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.Page-large-next-button:hover {
  text-decoration: none;
}

.PageStatusBar {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #BFBFBF;
  padding: 10px;
}

.PageStatusBar-progressbar {
  position: absolute;
  background: goldenrod;
  top: 50%;
  transform: translateY(-50%);
}

.PageStatusBar-buttons {
  float: right;
}

.PageStatusBar-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: LuloCleanOne, sans-serif;
  color: #ffffff;
  font-size: 40px;
  background: #676867;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  border: none;
  margin-right: 10px;
}

.PageStatusBar-button:hover {
  text-decoration: none;
}